@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/placeholders';

.filter {
  padding: $gap 0;
  display: flex;
  justify-content: flex-end;
  gap: $gap;
  border-bottom: 1px dotted $secondary-bg-color;

  // .filter__author
  &__author {
    display: flex;
    gap: $gap;
    align-items: center;
  }

  // .filter__label
  &__label {
    @extend %font;
  }

  // .filter select
  select {
    padding: 1rem 10rem 1rem 1rem;
    border-radius: $radius;
  }
}
