@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/placeholders';

.header {
  background-color: $secondary-bg-color;

  // .header__content
  &__content {
    @extend %container;

    padding: $gap;
    display: flex;
    gap: $gap;
  }

  // .header__link
  &__link {
    @extend %font-upper-small;

    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $active-font-color;
    }
  }
}

:global {
  .active {
    cursor: default;
    pointer-events: none;
    color: $active-font-color;
  }
}
