@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/placeholders';

.post {
  @extend %font;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  // .post__title
  &__title {
    @extend %font-upper-small;
  }

  // .post__content
  &__content {
    @extend %font;
  }
}
