@import '@/styles/abstracts/variables';

%container {
  padding: 0 $gap;
  margin: 0 auto;
  width: 100%;
  max-width: $max-width;
  box-sizing: border-box;
}

%font-upper {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-font-color;
}
