@import '@/styles/abstracts/mixins';

// bg colors
$primary-bg-color: #e9ebec;
$secondary-bg-color: #b2b8bb;

// font colors
$active-font-color: #000000;
$primary-font-color: #687174;
$secondary-font-color: #e9ebec;

// sizes
:root {
  --gap: 3rem;
  --radius: 5rem;

  @include media-mobile {
    --gap: 2rem;
    --radius: 3rem;
  }
}

$gap: var(--gap);
$radius: var(--radius);
$max-width: 119.9rem;
